* {
  margin: 0%;
  padding: 0%;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

@font-face {
  font-family: 'caviar_dreamsitalic';
  src: url('fonts/caviardreams_italic-webfont.woff2') format('woff2'),
       url('fonts/caviardreams_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsbold_italic';
  src: url('fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
       url('fonts/caviardreams_bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('fonts/caviar_dreams_bold-webfont.woff2') format('woff2'),
       url('fonts/caviar_dreams_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('fonts/caviardreams-webfont.woff2') format('woff2'),
       url('fonts/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 24px 250px 0 250px;
  background-color: #1F2937;
}

.header-links {
  display: flex;
  gap: 25px;
}

.links {
  margin-left: auto;
}

.header ul {
  list-style-type: none;
}

.header ul a {
  color: aquamarine;
  text-decoration: none;
}

.header .header-logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
  font-family: caviar_dreamsbold, sans-serif;
}

.hero {
  display: flex;
  justify-content: flex-start;
  padding: 64px 250px;
  gap: 20px;
  background-color: #1F2937;

}

.hero-img {
  margin-left: auto;
  height: 250px;
  width: 500px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: #0e1a02;
  background-color: #1F2937;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  
  width: 500px;
  height: 250px;
  min-width: 300px;
  min-height: 200px;
}

.hero-text h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-family: caviar_dreamsbold, sans-serif;
}

.hero-text p {
  color: #E5E7EB;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.hero-img img {
  min-width: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.hero-button {
  background-color: #3882F6;  
  color: white;
  border: none;
  font-size: 22px;
  text-align: center;
  padding: 5px 25px;
  border-radius: 8px;
  font-family: caviar_dreamsbold, sans-serif;
}

.hero-button:hover {
  background-color: white;
  color: #3882F6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.info-section {
  text-align: center;
  padding-bottom: 100px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.info {
  max-width: 250px;
}

.info-container img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid #ddd;
  padding: 5px;
}

.info-title {
  padding: 50px 0;

  font-size: 36px;
  font-family: caviar_dreamsbold, sans-serif;
  color: #1F2937;
} 

.text {
  font-family: 'Courier New', Courier, monospace;
  color: #1a1a1b;
}

.quote-section {
  background-color: #E5E7EB;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 1000px;
  height: auto;
  padding: 100px 0;
}

.quote-author {
  text-align: right;
  font-size: 22px;
  font-family: sans-serif;
}

.quote-text {
  font-size: 36px;
  font-family: caviar_dreamsitalic, sans-serif;
  color: #1F2937;
}

.action-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 250px;
}

.action-form {
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex: 1;

  padding: 60px 0;
  background-color: #3882F6;
  border-radius: 10px;
  color: #F9FAF8;
  font-family: caviar_dreamsregular, sans-serif;
  font-size: 25px;
}

.action-text p:first-of-type{
  font-family: caviar_dreamsbold;
}

.action-form button {
  padding: 5px 25px;
  background-color: #3882F6;  
  color: white;
  border: 1px solid white;
  font-size: 22px;
  text-align: center;
  font-family: caviar_dreamsbold, sans-serif;
  border-radius: 8px;
}

.action-form button:hover {
  background-color: white;
  color: #3882F6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {
  background-color: #1F2937;
  color: #F9FAF8;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 25px 0;
  font-size: 20px;
}