* {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: 'caviar_dreamsitalic';
  src: url('fonts/caviardreams_italic-webfont.woff2') format('woff2'),
       url('fonts/caviardreams_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsbold_italic';
  src: url('fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
       url('fonts/caviardreams_bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('fonts/caviar_dreams_bold-webfont.woff2') format('woff2'),
       url('fonts/caviar_dreams_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('fonts/caviardreams-webfont.woff2') format('woff2'),
       url('fonts/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  background-color: #1F2937;
}

.header-links {
  display: flex;
  gap: 25px;
}

.header ul {
  list-style-type: none;
}

.header ul a {
  color: aquamarine;
  text-decoration: none;
}

.header .header-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: caviar_dreamsbold, sans-serif;
}