* {
  margin: 0%;
  padding: 0%;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

@font-face {
  font-family: 'caviar_dreamsitalic';
  src: url('fonts/caviardreams_italic-webfont.woff2') format('woff2'),
       url('fonts/caviardreams_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsbold_italic';
  src: url('fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
       url('fonts/caviardreams_bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('fonts/caviar_dreams_bold-webfont.woff2') format('woff2'),
       url('fonts/caviar_dreams_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'caviar_dreamsregular';
  src: url('fonts/caviardreams-webfont.woff2') format('woff2'),
       url('fonts/caviardreams-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 24px 150px;
  background-color: #1F2937;
}

.header-links {
  display: flex;
  gap: 25px;
}

.links {
  margin-left: auto;
}

.header ul {
  list-style-type: none;
}

.header ul a {
  color: aquamarine;
  text-decoration: none;
}

.header .header-logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
  font-family: caviar_dreamsbold, sans-serif;
}

.hero {
  display: flex;
  justify-content: flex-start;
  padding: 48px 150px;
  gap: 20px;
  background-color: #1F2937;
}

.hero-img {
  margin-left: auto;
  height: 200px;
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #0e1a02;
  background-color: bisque;
}

.hero-text {
  width: 500px;
  height: 200px;
}

.hero-text h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-family: caviar_dreamsbold, sans-serif;
}

.hero-text p {
  color: #E5E7EB;
  margin-bottom: 10px;
}

